*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;

   font-family: 'Poppins', sans-serif;
}

/* menu bar for desktop or larger---start */
 

   .chack-button{
      float: right;
      line-height: 80px;
      margin-right: 20px;
      display: none;
      font-size: 45px;
      cursor: pointer;
      
   }
      .nav{
      /* background-color: rgb(0,100,0);
      width: 100%;
      height: 80px;
      position: sticky;
      top: 0px; */

      position: sticky;
    top:0; left:0; right:0;
    background:tomato;
    /* padding:1.5rem 9%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    /* box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1); */
}
   }

   #logo{
     width: 200px;
     border: 1px solid black;
   }

   .nav ul{
      float: right ;
      list-style: none;
   }

   .nav ul li {
      font-size: 20px;
      font-family: arial;
      text-transform: uppercase;
      line-height: 80px;
      margin-right: 50px;
      display: inline-block;
      position: relative;
      cursor: pointer;
   }

  .nav ul li::after{
      content: '';
      height: 3px;
      width: 0;
      background: rgb(87, 87, 87);
      position: absolute;
      left: 0;
      bottom: 20px;
      transition: 0.5s;
   }
   
   .nav ul li:hover::after{
      width: 101%;
   }

   /* sub-menu--start   ////////////////////////////////-----*/
      .sub-menu01{
         display: none;
      }

      .portfolio-sub-menu:hover .sub-menu01{
         display: block;
         position: absolute;
         background-color: rgba(71, 187, 187, 0.87);
         margin-top: -8px;
         margin-left: ;
         border-radius: 4px;
      }

      .portfolio-sub-menu:hover .sub-menu01 ul li {
         padding-right: 10px; 
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 30px;
         text-align: center;
         color: black;
         transition: 0.5s;
      }

      .portfolio-sub-menu:hover .sub-test{
         color: rgb(0, 0, 0);
         line-height: 5px !important;
         
      }

      .sub-menu01 ul li::after{
         content: '';
         height: 3px;
         width: 0;
         background: rgb(255, 249, 249);
         position: absolute;
         left: 0;
         bottom: -11px;
         transition: 0.5s;
      }
      
      .sub-menu01 ul li:hover::after{
         width: 95%;
      }
   /* sub-menu--end    ////////////////////////////////-----*/

   .for-border{
      margin-right: 100px !important;
   }

   .nav ul li a{
      text-decoration: none;
      color:white;
      font-weight: 800;
      cursor:default;
      cursor: pointer;
   }


 
   #chack{
      display: none;
   }


/* menu bar for desktop or larger---end */


.header{
   background-color: rgba(173, 173, 173, 0.411);
   width: 100%;
   height: 40px;
   display: block;
}

.header-fit{
   width: 1170px;
   height: 40px; 
   margin: auto;
   
}
.sub-perent1{
   width: 225px;
   height: 40px;
   float: left;
   position: relative; 
}

.sub-perent2{
 width:700px;
 height: 40px;
 float: left;
 border-right : 1px solid rgb(110, 105, 105);
 border-left : 1px solid rgb(110, 105, 105);
}

.sub-perent3{
   width: 245px;
   height: 40px;
   float: left;
}

#number{
  padding: 0px 20px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: arial;
  font-size: 16px;
}

#number:hover{
   color: rgb(25, 118, 204);
}

#gamil{
   padding: 0px 55px;
   line-height: 40px;
   color: rgb(0, 0, 0);
   font-weight: 500;
   font-family: arial;
   font-size: 18px;
   letter-spacing: 1px;
 }

 #gamil:hover{
    text-decoration: underline;
 }

 #social{
    margin-left: 18px;
 }

 #social a{
   padding: 0px 5px;
   line-height: 40px;
   color: rgb(36, 175, 255);
   font-size: 28px;
 }

 .fa-github{
    color: rgb(90, 90, 90);
 }

 .fa-youtube{
    color: rgba(255, 0, 0, 0.938);
 }

 #sub-social{
    margin-right: 15px;

 }

 #sub-social:hover{
    color: black;
    background-color: rgb(240, 240, 240);
   
 }






 /* home--section---start */
   .home{
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/334612.jpg);
      background-size: 100% 100%;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 10px 20px -1px rgba(83,120,227,0.7);
-webkit-box-shadow: 0px 10px 20px -1px rgba(83,120,227,0.7);
-moz-box-shadow: 0px 10px 20px -1px rgba(83,120,227,0.7);

animation: sliders 9s infinite linear;
   }

/* animation */
   @keyframes sliders{
      0%{
         background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/images.jpeg);
      }

      35%{
         background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/portfolio-design.jpg);
      }

      75%{
         background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/reponsive.jpg);
      }
   }
/* animation */

   .sub-home{
      width: 50%;
      position: absolute;
      text-align: center;
      color: #00ffd0;
   }
   .sub-home h1{
      
      font-size: 70px;
    font-family: arial;
    text-transform: uppercase;
    margin-bottom: 28px;
    word-spacing: 12px;
    letter-spacing: -3px;

   }

   .sub-home p{
      font-family: sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
   }
 /* home--section---end */

/* portfolio section--start  */

   .portfolio{
      width: 100%;
      height: 100%;
      background-color: transparent;
      position: relative;
   }


   #portfolio-heading{
      display: block;
      text-align: center;
      background-color: #ddd;
      text-transform: uppercase;
      font-size: 50px;
      padding:15px 0 ;
      margin: 8px 0  100px 0;
      width: 100%;
      letter-spacing: 5px;
      box-shadow: 0px 10px 20px -1px rgba(83,120,227,0.7);
-webkit-box-shadow: 0px 10px 20px -1px rgba(83,120,227,0.7);
-moz-box-shadow: 0px 10px 20px -1px rgba(83,120,227,0.7);
   }

   .mahin, .saleh, .foinni, .nazmul, .nafi{
      margin-top: 20px;
      width: 70%;
      height: 100vh;
      margin-bottom: 30px;
      margin: auto;
      background-color: #263238;
      margin-bottom: 115px;
      border-radius: 15px;
      position: relative;
      box-shadow: 3px 5px 10px -1px rgba(75,79,80,0.75);
-webkit-box-shadow: 3px 5px 10px -1px rgba(75,79,80,0.75);
-moz-box-shadow: 3px 5px 10px -1px rgba(75,79,80,0.75);
      
   }

   .portfolio-avater-mahin{
      position: absolute;
      top: -95px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      left: calc(50% - 105px);
   }

   .portfolio-avater-saleh {
      position: absolute;
      top: -95px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      left: calc(50% - 105px);
   }

   .portfolio-avater-foinni {
      position: absolute;
      top: -95px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      left: calc(50% - 105px);
   }

   .portfolio-avater-nazmul {
      position: absolute;
      top: -95px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      left: calc(50% - 105px);
   }

   .portfolio-avater-nafi{
      position: absolute;
      top: -95px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      left: calc(50% - 105px);
   }

   /* .saleh{
      background-color: rgb(105, 126, 48)
   }

   .foinni{
      background-color: rgb(134, 177, 15)
   }

   .nazmul{
      background-color: rgb(122, 58, 241)
   }

   .nafi{
      background-color: #263238;
   } */



   /* portfolio--sub-section---start */

      .name-head{
         border: none;
         position: absolute;
         top: 100px;
         right: 0;
         left: 0;
         display: block;
         color: white;
         font-size: 50px;
         letter-spacing: 1px;
         font-family: arial;
         word-spacing: 5px;
         text-align: center;
         text-transform: uppercase;
         text-decoration: underline;
      }

      .content-contener{
            /* border: 1px solid red; */
         display: flex;
         align-items: center;
         justify-content: center;
         position: absolute;
         width: 100%;
         top: 170px;

      }

      .left-side{
         border-right: 2px solid #ddd;
         float: left;
         display: inline-block;
         width: 55px;
         height: 320px;
         margin: 10px;
         
      }
      .left-side a{
         text-decoration: none;
         font-size: 40px;
         color: rgb(255, 255, 255);
         float: left;
         padding: 5px;
         margin-bottom: 10px;
         display: flex;
         align-items: center;
         justify-content: center;
         transition: all 0.8s;
         
      }

      .fa-facebook-square{
margin-top: 20px;
      }

      .left-side a:hover{
         color: tomato;
         font-size: 42px;

      }

      .midle-side{
         border-left: 2px solid rgba(221, 221, 221, 0.678);
         border-right: 2px solid rgba(221, 221, 221, 0.678);
         float: left;
         display: inline-block;
         height: 320px;
         width: 700px;
         padding: 5px 15px 0 15px;
         text-align: center;
         margin: 0 5px;
      }

      .fa-arrow-circle-right{
         font-size: 20px;
         padding-right: 8px;
         padding-left: 25px;
      }

      .midle-side p{
         color: wheat;
         line-height: 30px;
         text-align: justify;
         word-spacing: 1px;
         letter-spacing: 1px;
         text-transform: capitalize;

      }

      .right-side{
         border-left: 2px  solid #ddd;
         float: left;
         display: inline-block;
         width: 320px;
         height: 320px;
         margin: 0 10px;
      }

      .right-side span{
         margin: 10px;
         position: absolute;
         color: #91e0dcf0;
         font-size: 17px;
         line-height: 25px;
         padding: 10px;
      }

      .details{
         position: absolute;
         bottom: 0;
         width: 100%;
         /* border: 2px solid blue; */
         border-radius: 0 0 15px 15px;
         padding: 20px 0;
         text-align: center;
         background-color: tomato;
      }

      .details a{
         cursor: pointer;
         color: white;
         font-size: 35px;
         text-align: center;
         transition: all 0.6s;
      }

      .details a:hover{
         cursor: pointer;
         color: rgb(0, 0, 0);
         font-size: 38px;
         text-decoration: underline;

      }

      #details-arrow{
         margin-left: 5px;
      }


   /* portfolio--sub-section---end */

/* portfolio sectoin--end */



/* projects--section--start--========================== */

      .card-contener{
         background-color: transparent;
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         box-sizing: border-box;
      }

      .card-contener h1{
         display: block;
      }

      .card{
         width: 350px;
         background-color: tomato;
         border-radius: 8px;
         margin: 20px;
         box-shadow: 2px 3px 6px black;
      }

      .card a img{
         width: 100%;
         height: 200px;
      }

      .card-body{
         padding: 10px;
      }

      .card-body h3{
         font-size: 35px;
         text-align: center;
         text-decoration: 2px solid underline;
         color: white;
         text-transform: capitalize;
      }

      .card-body p{
         font-size: 16px;
         text-align: justify;
         height: 240px;
         padding: 5px;
         margin-top: 10px;
         margin-bottom: 5px;
         font-family: sans-serif;
         font-weight: 500;
         line-height: 22px;
         word-spacing: 1px;

      }

      .card-details{
         background-color: blue;
         padding: 8px;
         width: 100%;
         text-align: center;
         border-radius: 5px;

      }

      .card-details a{
         color: rgb(255, 255, 255);
         text-decoration: none;
         padding: 5px 12px;
         font-size: 16px;
         font-weight: 700;
         transition: all 0.3s;
      }

      .card-details a:hover{
         text-decoration: 2px solid underline;
         font-size: 17px ;
      }
/* projects--section--end--============================ */



/* about--section--start-- =========================== */

.about-section{
   width: 100%;
   height: 100vh;
   background-color: #efd12d;
}

/* about--section--end ============================== */
