@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   
   font-family: 'Poppins', sans-serif;
}

html{
   scroll-behavior: smooth;
}

/* menu bar for desktop or larger---start */
 

   .chack-button{
      float: right;
      line-height: 80px;
      margin-right: 20px;
      display: none;
      font-size: 45px;
      cursor: pointer;
      
   }
      .nav{
      /* background-color: rgb(0,100,0);
      width: 100%;
      height: 80px;
      position: sticky;
      top: 0px; */

      position: sticky;
    top:0; left:0; right:0;
    background:tomato;
    /* padding:1.5rem 9%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

    box-shadow: 0px 4px 10px 1px rgb(82, 79, 79);
    /* box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1); */
}
   }

   #logo{
     width: 200px;
     border: 1px solid black;
   }

   .nav ul{
      float: right ;
      list-style: none;
   }

   .nav ul li {
      font-size: 20px;
      font-family: arial;
      text-transform: uppercase;
      line-height: 80px;
      margin-right: 50px;
      display: inline-block;
      position: relative;
      cursor: pointer;
   }

  .nav ul li::after{
      content: '';
      height: 3px;
      width: 0;
      background: rgb(87, 87, 87);
      position: absolute;
      left: 0;
      bottom: 20px;
      transition: 0.5s;
   }
   
   .nav ul li:hover::after{
      width: 101%;
   }

   /* sub-menu--start   ////////////////////////////////-----*/
      .sub-menu01{
         display: none;
      }

      .portfolio-sub-menu:hover .sub-menu01{
         display: block;
         position: absolute;
         background-color: rgba(71, 187, 187, 0.87);
         margin-top: -8px;
         margin-left: ;
         border-radius: 4px;
      }

      .portfolio-sub-menu:hover .sub-menu01 ul li {
         padding-right: 10px; 
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 30px;
         text-align: center;
         color: black;
         transition: 0.5s;
      }

      .portfolio-sub-menu:hover .sub-test{
         color: rgb(0, 0, 0);
         line-height: 5px !important;
         
      }

      .sub-menu01 ul li::after{
         content: '';
         height: 3px;
         width: 0;
         background: rgb(255, 249, 249);
         position: absolute;
         left: 0;
         bottom: -11px;
         transition: 0.5s;
      }
      
      .sub-menu01 ul li:hover::after{
         width: 95%;
      }
   /* sub-menu--end    ////////////////////////////////-----*/

   .for-border{
      margin-right: 100px !important;
   }

   .nav ul li a{
      text-decoration: none;
      color:white;
      font-weight: 800;
      cursor:default;
      cursor: pointer;
   }


 
   #chack{
      display: none;
   }


/* menu bar for desktop or larger---end */


.header{
   background-color: rgba(173, 173, 173, 0.411);
   width: 100%;
   height: 40px;
   display: block;
}

.header-fit{
   width: 1170px;
   height: 40px; 
   margin: auto;
   
}
.sub-perent1{
   width: 225px;
   height: 40px;
   float: left;
   position: relative; 
}

.sub-perent2{
 width:700px;
 height: 40px;
 float: left;
 border-right : 1px solid rgb(110, 105, 105);
 border-left : 1px solid rgb(110, 105, 105);
}

.sub-perent3{
   width: 245px;
   height: 40px;
   float: left;
}

#number{
  padding: 0px 20px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: arial;
  font-size: 16px;
}

#number:hover{
   color: rgb(25, 118, 204);
}

#gamil{
   padding: 0px 55px;
   line-height: 40px;
   color: rgb(0, 0, 0);
   font-weight: 500;
   font-family: arial;
   font-size: 18px;
   letter-spacing: 1px;
 }

 #gamil:hover{
    text-decoration: underline;
 }

 #social{
    margin-left: 18px;
 }

 #social a{
   padding: 0px 5px;
   line-height: 40px;
   color: rgb(36, 175, 255);
   font-size: 28px;
 }

 .fa-github{
    color: rgb(90, 90, 90);
 }

 .fa-youtube{
    color: rgba(255, 0, 0, 0.938);
 }

 #sub-social{
    margin-right: 15px;

 }

 #sub-social:hover{
    color: black;
    background-color: rgb(240, 240, 240);
   
 }






 /* home--section---start */
   .home{
      width: 100%;
      height: 100vh;
      margin-bottom: -79px;
      background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/334612.jpg);
      background-size: 100% 100%;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 10px 33px -1px rgba(87,56,56,0.7);
-webkit-box-shadow: 0px 10px 33px -1px rgba(87,56,56,0.7);
-moz-box-shadow: 0px 10px 50px -1px rgba(87,56,56,0.7);

animation: sliders 9s infinite linear;
   }

/* animation */
   @keyframes sliders{
      0%{
         background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/images.jpeg);
      }

      35%{
         background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/portfolio-design.jpg);
      }

      75%{
         background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/reponsive.jpg);
      }
   }
/* animation */

   .sub-home{
      width: 50%;
      position: absolute;
      text-align: center;
      color: #00ffd0;
   }
   .sub-home h1{
      
      font-size: 70px;
    font-family: arial;
    text-transform: uppercase;
    margin-bottom: 28px;
    word-spacing: 12px;
    letter-spacing: -3px;

   }

   .sub-home p{
      font-family: sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
   }
 /* home--section---end */

/* portfolio section--start -- ============================================================== */
.card-contener{
   background-color: #a9a2a2;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   box-sizing: border-box;
}

#portfolio-heading, #projects-heading, #about-heading{
   display: block;
   text-align: center;
   background-color: #ddd;
   text-transform: uppercase;
   font-size: 50px;
   padding:15px 0 ;
   margin: 80px 0  50px 0;
   width: 100%;
   letter-spacing: 5px;
   border-top: 1px solid rgb(71, 70, 70);
   box-shadow: 0px 10px 20px -1px rgba(83,120,227,0.7);
-webkit-box-shadow: 0px 10px 20px -1px rgba(83,120,227,0.7);
-moz-box-shadow: 0px 10px 20px -1px rgba(83,120,227,0.7);
}

.test-div{
    padding-top: 80px;
    margin-top: -50px;
    margin-bottom: 20px;
}

.mahin-card, .saleh-card, .foinni-card, .nazmul-card, .nafi-card{
   width: 1250px;
   height: 530px;
   background-color: tomato;
   border-radius: 8px;
   margin: 20px;
   box-shadow: 2px 3px 6px black;
   

}

 .portfolio-social-section, .mahin-photos, .mahin-content{
    float: left;
    
 }
 
 .portfolio-social-section{
   background-color: transparent;
   font-size: 3rem;
   width: 55px;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 6% 8px;
 }


 .portfolio-social-section a .fab{
    border-bottom: 2px solid #ddd;
    color: rgb(0, 0, 0);
    transition: all 0.5s;

}

   .portfolio-social-section a .fab:hover{
      color: rgb(255, 255, 255);
      border: none;
   }

 .mahin-photos{
    width: 400px;
    height: 98%;
    margin: 5px 8px;
    margin-left: 0px;
 }
 .mahin-photos img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;

 }

 .mahin-content{
   width: 58%;
    background-color:transparent;
    height: 97%;
    margin: 9px;
 }

 .mahin-content h3{
   background-color: rgb(0, 203, 230);
   padding: 12px;
   margin-left: -14px;
   display: inline-block;
   border-radius: 0 50px 50px 0;
   padding-right: 50px;
   margin-bottom: 10px;
   font-size: 35px;
   text-transform: capitalize;
   text-decoration: underline;
 }

 .mahin-content h3 .fas{
    margin-right: 10px;
    margin-left: -6px;
 }

 .mahin-title{
   display: block;
   margin: 10px 5px;
   margin-top: -5px;
   border-radius: 25px;
   padding: 14px 30px;
   font-size: 28px;
   font-weight: 600;
   text-transform: capitalize;
   background-color: rgb(226, 63, 34);
   border-top: 1px solid rgb(22, 22, 22);
   box-shadow: 3px 5px 0px #971414;
 }

 .short-bio{
   background-color: transparent;
   color: white;
   margin: 18px;
   padding: 12px;
   text-align: justify;
   line-height: 1.4;
   height: 250px;
   border-top: 2px solid #ddd;
   font-size: 18px;
 }

 .details-bt{
   color: rgb(66, 61, 61);
   cursor: pointer;
   background-color: rgb(0, 201, 252);
   display: block;
   margin: auto;
   margin-top: -5px;
   border-radius: 10px;
   width: 30%;
   padding: 16px;
   text-align: center;
   font-size: 25px;
   transition: 0.7s;
   font-weight: bold;
 }
 .details-bt .fas{
    margin-left: 3px;
    transition:all 0.2s;
 }
 .details-bt .fas:hover{
   margin-left: 5px;
   color: black;
}

 .details-bt:hover{
   
    font-size: 27px;
    text-decoration: underline;
    color: black;
 }

   
/* portfolio sectoin--end --=============================================================*/



/* projects--section--start--========================== */

      .card-contener{
         background-color: transparent;
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         box-sizing: border-box;
      }

      .card-contener h1{
         display: block;
      }

      .card{
         width: 350px;
         background-color: tomato;
         border-radius: 8px;
         margin: 20px;
         box-shadow: 2px 3px 6px black;
      }

      .card a img{
         width: 100%;
         height: 200px;
      }

      .card-body{
         padding: 10px;
      }

      .card-body h3{
         font-size: 35px;
         text-align: center;
         color: white;
         text-transform: capitalize;
      }



      .card-body p{
         font-size: 16px;
         text-align: justify;
         height: 240px;
         padding: 5px;
         margin-top: 10px;
         margin-bottom: 5px;
         font-family: sans-serif;
         font-weight: 500;
         line-height: 22px;
         word-spacing: 1px;

      }

      .card-details{
         background-color: rgb(85, 85, 85);
         padding: 8px;
         width: 100%;
         text-align: center;
         border-radius: 5px;

      }

      .card-details a{
         color: rgb(255, 255, 255);
         text-decoration: none;
         padding: 5px 12px;
         font-size: 16px;
         font-weight: 700;
         transition: all 0.3s;
      }

      .card-details a:hover {
         text-decoration: 2px solid underline;
         font-size: 17px ;
      
      }
     

/* projects--section--end--============================ */



/* about--section--start-- ============================= */


.about-contener{
         background-color: transparent;
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         box-sizing: border-box;
}

.about-card-1, .about-card-4{
   width: 40%;
   background-color: rgb(67, 179, 117);
   border-radius: 8px;
   margin: 20px;
   box-shadow: 1px 2px 3px rgb(57, 199, 121);
}


.about-card-2, .about-card-3,.about-card-5{
   width: 40%;
   background-color: rgb(168, 164, 164);
   border-radius: 8px;
   margin: 20px;
   box-shadow: 1px 2px 3px rgb(197, 197, 197);
}



.about-card span, .about-card span,  .about-card span{
   width: 90%;
}

.about-card-1 span .fas, .about-card-2 span .fas, .about-card-3 span .fas, .about-card-4 span .fas, .about-card-5 span .fas{
   text-align: center;
   font-size: 80px;
   margin-bottom: -10px;
   margin-top: 20px;
   width: 100%;
   height: 95px;
   color: #d6c90b;
}

.about-card-1, .about-card-2, .about-card-3, .about-card-4, .about-card-5{
   transition: all 0.2s;
}

.about-card-1:hover, .about-card-2:hover, .about-card-3:hover, .about-card-4:hover, .about-card-5:hover{
   border: 0.2rem solid red;
   box-sizing: border-box;
}



.about-card .card-body h3{
   color: teal;
   margin-bottom: 10px;
}

/* about--section--end ================================= */





/* footer--section--start--==================================================================================== */

 footer{
   position: ;
   bottom: 0px;
   margin-top: 25px;
   width: 100%;
   background: #111;
   color: #d9d9d9;
 }
 .main-content{
   display: flex;
 }
 .main-content .box{
   flex-basis: 50%;
   padding: 10px 20px;
 }
 .box h2{
   font-size: 1.125rem;
   font-weight: 600;
   text-transform: uppercase;
   color: #d9d9d9;

 }
 .box .content{
   margin: 20px 0 0 0;
   position: relative;
 }
 .box .content:before{
   position: absolute;
   content: '';
   top: -10px;
   height: 2px;
   width: 100%;
   background: #1a1a1a;
 }
 .box .content:after{
   position: absolute;
   content: '';
   height: 2px;
   width: 15%;
   background: #f12020;
   top: -10px;
 }
 .left .content p{
   text-align: justify;
   color: #d9d9d9;

 }
 .left .content .social{
   margin: 20px 0 0 0;
 }
 .left .content .social a{
   padding: 0 2px;
 }
 .left .content .social a span{
   height: 40px;
   width: 40px;
   background: #1a1a1a;
   line-height: 40px;
   text-align: center;
   font-size: 18px;
   border-radius: 5px;
   transition: 0.3s;
   color: #79baff;
 }
 .left .content .social a span:hover{
   background: #f12020;
 }
 .center .content .fas{
   font-size: 1.4375rem;
   background: #1a1a1a;
   height: 45px;
   width: 45px;
   line-height: 45px;
   text-align: center;
   border-radius: 50%;
   transition: 0.3s;
   cursor: pointer;
 }
 .center .content .fas:hover{
   background: #f12020;
 }
 .center .content .text{
   font-size: 1.0625rem;
   font-weight: 500;
   padding-left: 10px;
 }
 .center .content .phone{
   margin: 15px 0;
 }
 .right form .text{
   font-size: 1.0625rem;
   margin-bottom: 2px;
   color: #656565;
 }
 .right form .msg{
   margin-top: 10px;
 }
 .right form input, .right form textarea{
   width: 100%;
   font-size: 1.0625rem;
   background: #353535;
   padding-left: 10px;
   border: 1px solid #5f5f5f;
 }
 .right form input:focus,
 .right form textarea:focus{
   outline-color: #3498db;
 }
 .right form input{
   height: 35px;
 }
 .right form .btn{
   margin-top: 10px;
 }
 .right form .btn button{
   height: 40px;
   width: 100%;
   border: none;
   outline: none;
   background: #f12020;
   font-size: 1.0625rem;
   font-weight: 500;
   cursor: pointer;
   transition: .3s;
 }
 .right form .btn button:hover{
   background: #e43030;
 }
 .bottom center{
   padding: 5px;
   font-size: 0.9375rem;
   background: #151515;
 }
 .bottom center span{
   color: #656565;
 }
 .bottom center a{
   color: #f12020;
   text-decoration: none;
 }
 .bottom center a:hover{
   text-decoration: underline;
 }
 @media screen and (max-width: 900px) {
   footer{
     position: relative;
     bottom: 0px;
   }
   .main-content{
     flex-wrap: wrap;
     flex-direction: column;
   }
   .main-content .box{
     margin: 5px 0;
   }
 }


/* footer--section--start--==================================================================================== */

