*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

/* menu bar for desktop or larger---start */
 

   .chack-button{
      float: right;
      line-height: 80px;
      margin-right: 20px;
      display: none;
      font-size: 45px;
      cursor: pointer ;
   }
      .nav{
      background-color: rgb(0,100,0);
      width: 100%;
      height: 80px;
      position: sticky;
      top: 0px;
   }

   .logo{
      color: white;
      font-family: arial;
      font-weight: bold;
      font-size: 45px;
      text-transform: capitalize;
      line-height: 80px;
      padding: 0px 80px;
   }

   .nav ul{
      float: right ;
      list-style: none;
   }

   .nav ul li {
      font-size: 20px;
      font-family: arial;
      text-transform: uppercase;
      line-height: 80px;
      margin-right: 50px;
      display: inline-block;
   }

   .for-border{
      margin-right: 100px !important;
   }

   .nav ul li a{
      text-decoration: none;
      color: tomato;
      font-weight: 800;
      cursor:default;

   }

   #chack{
      display: none;
   }


/* menu bar for desktop or larger---end */


.header{
   background-color: rgba(173, 173, 173, 0.411);
   width: 100%;
   height: 40px;
   display: block;
}

.header-fit{
   width: 1170px;
   height: 40px; 
   margin: auto;
   
}
.sub-perent1{
   width: 225px;
   height: 40px;
   float: left;
   position: relative; 
}

.sub-perent2{
 width:700px;
 height: 40px;
 float: left;
 border-right : 1px solid rgb(110, 105, 105);
 border-left : 1px solid rgb(110, 105, 105);
}

.sub-perent3{
   width: 245px;
   height: 40px;
   float: left;
}

#number{
  padding: 0px 20px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: arial;
  font-size: 16px;
}

#number:hover{
   color: rgb(25, 118, 204);
}

#gamil{
   padding: 0px 55px;
   line-height: 40px;
   color: rgb(0, 0, 0);
   font-weight: 500;
   font-family: arial;
   font-size: 18px;
   letter-spacing: 1px;
 }

 #gamil:hover{
    text-decoration: underline;
 }

 #social{
    margin-left: 18px;
 }

 #social a{
   padding: 0px 5px;
   line-height: 40px;
   color: rgb(36, 175, 255);
   font-size: 28px;
 }

 .fa-github{
    color: rgb(90, 90, 90);
 }

 .fa-youtube{
    color: rgba(255, 0, 0, 0.938);
 }

 #sub-social{
    margin-right: 15px;

 }

 #sub-social:hover{
    color: black;
    background-color: rgb(240, 240, 240);
   
 }


 /* slide show---start */

      /* .slide-container{
         width: 100%;
         height: 100vh;
         position: relative;
        
      }

      .image-container{
         width: 100%;
         height: 100vh;
         position: absolute;
         overflow: hidden;
      }

      #slide-img{
         width: 100%;
         height: 100%;
      } */

      .testing{
         width: 100%;
         height: 100vh;
         background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../images/reponsive.jpg);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
      }
      .content{
         width: 60%;
         margin:auto;
         
      }

      /* .sub-overlay{
         width: 100%;
         height: 100%;
         background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); 
         position: absolute;
         overflow: hidden;
      } */

 /* slide show---end */

/* test--somthing------start */



 /* test--somthing------end */



 .content h1{
    color: white;
    background-color: red;
    
 }

 .content h3{
    color: white;
    background-color: green;
 }